@import url(https://db.onlinewebfonts.com/c/a844729f70281579017e703a84941e16?family=Parchment);

footer {
    background-color: antiquewhite;
    text-align: center;
    font-family: "Parchment";
}

img {
    width: 20em;
    padding: 1em;
}

h1 {
    font-size:10em ;
}

p {
    margin: auto;
    width: 20em;
    font-size: 3em;
}