<div class="list-group" style="padding: 2.5em;">
    <a href="https://www.keblog.it/la-misteriosa-vita-dei-gatti-catturata-dalla-fotografia-in-bianco-e-nero/" class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">La misteriosa vita dei gatti</h5>
        <small>8 agosto</small>
      </div>
      <p class="mb-1">catturata dalla fotografia in bianco e nero</p>
      <small>Keblog</small>
    </a>
    <a href="https://style.corriere.it/attualita/sport/ayrton-senna-il-mito-spiegato-alla-generazione-z/" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Ayrton Senna</h5>
        <small class="text-body-secondary">1 maggio 2020</small>
      </div>
      <p class="mb-1">il mito spiegato alla generazione Z</p>
      <small class="text-body-secondary">STYLE MAGAZINE</small>
    </a>
    <a href="https://rollingsteel.it/ferraglia/locomotiva-e656-caimano-linfaticabile-ferro-vecchio-che-ha-mosso-litalia/" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Locomotore E656</h5>
        <small class="text-body-secondary">8 settembre 2022</small>
      </div>
      <p class="mb-1">l'inarrestabile Caimano</p>
      <small class="text-body-secondary">RollingSteel.it</small>
    </a>
  </div>